body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #fcfcfc, #000000);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;       /* items in center of container  */
    justify-content: center;
    height: 100vh;
}

img {
    width: 300px;
    height: 300px;
}

#message {
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    color: #666;
}
#title{
    position: fixed;
    text-align: left;   /* item alighned at left for nav title bootspace s */
    font: 20px sans-serif;
    background-color: black;
    color: whitesmoke;
    height: 65px;
    width: 100%;
    top: 0;
    left: 0;
    padding-left: 10px;    
}